<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 회원가입시 입력한 정보 member에 저장 -->
	<insert parameterType="java.util.HashMap" id="addMember">
		insert into member values(#{id},#{pw},#{email},sysdate)
	</insert>
	
	<!-- 회원가입시 입력한 정보 detail에 저장 -->
	<insert parameterType="java.util.HashMap" id="addDetail">
		insert into detail(id) values(#{id})
	</insert>
	
	<!-- 회원가입 시 ID 사용여부 -->
	<select parameterType="java.lang.String" id="checkId" resultType="java.lang.String">
		select id from member where id=#{id}
	</select>
	
	<!-- 회원가입 시 EMAIL 사용여부 -->
	<select parameterType="java.lang.String" id="checkEmail" resultType="java.lang.String">
		select email from member where email=#{email}
	</select>
	
	<!-- 로그인 -->
	<select parameterType="java.util.HashMap" id="login" resultType="java.util.HashMap">
		select * from member where id = #{id} and pw = #{pw}
	</select>
	
	<!-- 정보입력창 화면에 저장되어있는 값 출력 -->
	<select id="readDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from detail where id = #{id}
	</select>
	
	<!-- member 테이블에서 가입일 출력 -->
	<select id="readJoinDate" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select joindate from member where id =#{id}
	</select>

	
	<!-- 정보수정 -->
	<update parameterType="java.util.HashMap" id="editDetail">
		update detail set name=#{name,jdbcType=VARCHAR}, birth=#{birth,jdbcType=DATE}, tel=#{tel, jdbcType=VARCHAR}, point=#{point,jdbcType=NUMERIC}, postcode=#{postcode,jdbcType=NUMERIC}, addr1=#{addr1,jdbcType=VARCHAR}, addr2=#{addr2,jdbcType=VARCHAR} where id =#{id}
	</update>	
	
	<!-- 아이디찾기 아이디 출력 -->
	<select id="findId" parameterType="java.util.HashMap" resultType="java.lang.String">
		select id from detail where name=#{name} and birth=#{birth} and tel=#{tel}
	</select>
	
	<!-- 비밀번호찾기 비밀번호 출력(회원인지 아닌지 구별) -->
	<select id="findPw" parameterType="java.util.HashMap" resultType="java.lang.String">
		select pw from member where id=#{id} and email=#{email}
	</select>

	<!-- 비밀번호 찾기 비밀번호 변경 -->
	<update id="newPw" parameterType="java.util.HashMap">
		update member set pw=#{pw,jdbcType=VARCHAR} where id=#{id} and email=#{email}
	</update>

	
	<!-- 회원탈퇴 (delete는 *표시 필요없음!)-->
	<delete id="dropMember" parameterType="java.util.HashMap">
		delete from member where pw= #{pw} and id=#{id}
	</delete>
	
	<delete id="dropDetail" parameterType="java.lang.String">
		delete from detail where id=#{id}
	</delete>
	
	<!-- 정보수정에서 비밀번호 변경 -->
	<update id="changePw" parameterType="java.util.HashMap">
		update member set pw=#{pw,jdbcType=VARCHAR} where id=#{id}
	</update>
</mapper>