<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="notice">
  	<insert id="add" parameterType="java.util.HashMap">
  		insert into notice values(notice_seq.nextval, 'master', #{title}, #{content} ,0,SYSDATE)
  	</insert>
  	<select id="list" resultType="java.util.HashMap">
  			select * from NOTICE
  	</select>
  	<select id="uper" resultType="java.util.HashMap">
  		select * from notice where STARTS &lt; #{start}
  		<if test="mode != null">
  			and  is not null
  		</if>
  	</select>
  	<select id="read" parameterType="java.lang.String" resultType="java.util.HashMap">
  		select * from notice where NUM=#{num}
  	</select>
  	<insert id="del" parameterType="java.lang.String">
  	delete from notice where num=#{num}
  	</insert>
  
  </mapper>