<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="QnA">
  	<insert id="add" parameterType="java.util.HashMap">
  		insert into qna values(QNA_SEQ.nextval, 'master', #{title}, #{content} ,0)
  	</insert>
  	<select id="list" resultType="java.util.HashMap">
  			select * from qna
  	</select>
  	<select id="read" parameterType="java.lang.String" resultType="java.util.HashMap">
  		select * from qna where NUM=#{num}
  	</select>
  	<insert id="del" parameterType="java.lang.String">
  	delete from qna where num=#{num}
  	</insert>
  <select id="allist" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select * from (select rownum r, a.* from (select * from qna order by num desc) a) where r between #{start} and #{end}
	</select>
	<select id="all" resultType="java.lang.Integer">
		select count(*) FROM qna num
	</select>
	<insert id="change" parameterType="java.util.HashMap" >
	update qna set TITLE= #{title} , CONTENT=#{content} where num=#{num}
	</insert>
  </mapper>