<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stock">
	<select id="getList" resultType="java.util.HashMap">
		select * from product
	</select>
	<select id="getStockList" resultType="java.util.HashMap">
		select * from (select rownum as r,t.* from (select * from stock order by ownernumber, no) t) t2 where r between (#{page}-1)*10+1 and (#{page}-1)*10+10
	</select>
	<select id="getStockPage" resultType="java.lang.Integer">
		select count(*) from stock
	</select>
	<select id="searchStockList" resultType="java.util.HashMap">
		select * from (select rownum as r,t.* from (select * from stock where name like '%'||#{name}||'%' order by ownernumber, no) t) t2 where r between (#{page}-1)*10+1 and (#{page}-1)*10+10
	</select>
	<select id="getSearchStockPage" resultType="java.lang.Integer">
		select count(*) from stock where name like '%'||#{name}||'%'
	</select>
	<select id="getOwnernumbersubN" resultType="java.util.HashMap">
		select * from stock where name=#{name} and scale=#{scale} and comp=#{comp} and subname is null
	</select>
	<select id="getOwnernumber" resultType="java.util.HashMap">
		select * from stock where name=#{name} and scale=#{scale} and comp=#{comp} and subname=#{subname}
	</select>
	<insert id="addNewStock">
		insert into stock(no, type, name, scale, color, price, volume, comp, subname, ownernumber)
		 values(stock_seq.nextval, #{type}, #{name}, #{scale}, #{color}, #{price}, #{volume}, #{comp}, #{subname, jdbcType=VARCHAR}, ownernumber_seq.nextval)
	</insert>
	<insert id="addOldStock">
		insert into stock(no, type, name, scale, color, price, volume, comp, subname, ownernumber)
		 values(stock_seq.nextval, #{type}, #{name}, #{scale}, #{color}, #{price}, #{volume}, #{comp}, #{subname, jdbcType=VARCHAR}, #{ownernumber})
	</insert>
	<select id="searchName" resultType="java.util.HashMap">
		select * from stock where name like '%'||#{name}||'%' order by ownernumber, no
	</select>
	<select id="checkAdd" resultType="java.lang.Integer">
		select count(*) from stock where name=#{name} and scale=#{scale} and color=#{color}
	</select>
	<delete id="deleteStock">
		delete from stock where no=#{no}
	</delete>
	<update id="updateStock">
		<choose>
			<when test="option == 'price'">update stock set price=#{value} where no=#{no}</when>
			<when test="option == 'volume'">update stock set volume=#{value} where no=#{no}</when>
		</choose>
	</update>
	<select id="getOptionSchStockList" resultType="java.util.HashMap">
		<choose>
			<when test="option == 'ownernumber'">select * from 
			(select rownum as r,t.* from (select * from stock where ownernumber like '%'||#{value}||'%' order by ownernumber, no) t) t2 
			where r between (#{page}-1)*10+1 and (#{page}-1)*10+10</when>
			<when test="option == 'type'">select * from 
			(select rownum as r,t.* from (select * from stock where type like '%'||#{value}||'%' order by ownernumber, no) t) t2 
			where r between (#{page}-1)*10+1 and (#{page}-1)*10+10</when>
			<when test="option == 'name'">select * from 
			(select rownum as r,t.* from (select * from stock where name like '%'||#{value}||'%' order by ownernumber, no) t) t2 
			where r between (#{page}-1)*10+1 and (#{page}-1)*10+10</when>
			<when test="option == 'comp'">select * from 
			(select rownum as r,t.* from (select * from stock where comp like '%'||#{value}||'%' order by ownernumber, no) t) t2 
			where r between (#{page}-1)*10+1 and (#{page}-1)*10+10</when>
			<when test="option == 'subname'">select * from 
			(select rownum as r,t.* from (select * from stock where subname like '%'||#{value}||'%' order by ownernumber, no) t) t2 
			where r between (#{page}-1)*10+1 and (#{page}-1)*10+10</when>
		</choose>
	</select>
	<select id="getOptionSchStockPage" resultType="java.lang.Integer">
		<choose>
			<when test="option == 'ownernumber'">select count(*) from stock where ownernumber like '%'||#{value}||'%'</when>
			<when test="option == 'type'">select count(*) from stock where type like '%'||#{value}||'%'</when>
			<when test="option == 'name'">select count(*) from stock where name like '%'||#{value}||'%'</when>
			<when test="option == 'comp'">select count(*) from stock where comp like '%'||#{value}||'%'</when>
			<when test="option == 'subname'">select count(*) from stock where subname like '%'||#{value}||'%'</when>
		</choose>
	</select>
</mapper>