<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<mvc:annotation-driven/>
	<mvc:default-servlet-handler/>
	<!-- Multipartreslover -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="uploadTempDir" value="/temp"/>
		<property name="defaultEncoding" value="utf-8"/>
	</bean>
	
	<!-- mapper -->
	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="factory">
		<property name="dataSource" ref="ds"/>
		<property name="mapperLocations">
			<list>
				<value>/WEB-INF/mapper/*-mapper.xml</value>
			</list>
		</property>
	</bean>
	<bean class="com.fasterxml.jackson.databind.ObjectMapper" />
	<bean class="java.text.SimpleDateFormat">
		<constructor-arg name="pattern" value="yyyyMMddHHmmss"/>
	</bean>
	
	<!-- sqlSession -->
	<bean class="org.mybatis.spring.SqlSessionTemplate">	
		<constructor-arg name="sqlSessionFactory" ref="factory"/>
	</bean>
	<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
		<property name="dataSource" ref="ds"/>
	</bean>
	<!-- tx -->
	<tx:advice id="tx" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" rollback-for="Exception"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- Resolves views selected for rendering by @Controllers to .jsp resources in the /WEB-INF/views directory -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver">
		<property name="order" value="1"/>
	</bean>
	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles/tiles-config.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- datasource -->
	<bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="ds">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@127.0.0.1:1521:xe" />
		<property name="user" value="dlwjseh" />
		<property name="password" value="dldudeh2" />
	</bean>
</beans>
